.page {
    max-width: 1440px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
}