.info_title {
  max-width: 290px;
  font-weight: 500;
  font-size: 48px;
  line-height: 140%;
  margin: 0;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .info_title {
    font-weight: 600;
    font-size: 34px;
  }
}
