.products_button {
    width: 99px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #1779C0;
    background: #fff;
    border-radius: 8px;
    border: none;
    margin: 108px 78px 0; 
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 3;
}