.popup__form-button {
    display: flex;
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .popup__form-button {
        flex-direction: column;
        align-items: center;
    }
}