.swiper__text {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  z-index: 3;
  cursor: pointer;
}

@media screen and (max-width: 959px) and (min-width: 640px) {
  .swiper__text {
    font-size: 14px;
  }
}
