.popup__number-box {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}