.advantages_grid {
    max-width: 1125px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) and (min-width: 961px) {
    .advantages_grid {
        max-width: 935px;
    }
}

@media screen and (max-width: 960px) and (min-width: 641px) {
    .advantages_grid {
        max-width: 602px;
    }
}

@media screen and (max-width: 640px) and (min-width: 320px) {
    .advantages_grid {
        max-width: 480px;
    }
}