.advantages_block {
  width: 372px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid #c5daeb;
  border-bottom: 1px solid #c5daeb;
}

.advantages_block:nth-last-of-type(1) {
  border-bottom: none;
  border-right: none;
}

.advantages_block:nth-last-of-type(4) {
  border-right: none;
}

.advantages_block:nth-last-of-type(3) {
  border-bottom: none;
}

.advantages_block:nth-last-of-type(2) {
  border-bottom: none;
}

.advantages_block:nth-last-of-type(7) {
  border-right: none;
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .advantages_block {
    width: 306px;
  }
}

@media screen and (max-width: 959px) and (min-width: 320px) {
  .advantages_block {
    width: 200px;
    height: 225px;
    justify-content: flex-start;
    flex-direction: column;
  }
}

@media screen and (max-width: 639px) and (min-width: 480px) {
  .advantages_block {
    width: 239px;
  }
  .advantages_block:nth-last-of-type(1) {
    border-bottom: none;
    border-right: none;
  }
  
  .advantages_block:nth-last-of-type(6) {
    border-right: none;
  }

  .advantages_block:nth-last-of-type(8) {
    border-right: none;
  }
  
  .advantages_block:nth-last-of-type(3) {
    border-bottom: 1px solid #c5daeb;
  }
  
  .advantages_block:nth-last-of-type(2) {
    border-right: none;
    border-bottom: 1px solid #c5daeb;
  }
  
  .advantages_block:nth-last-of-type(7) {
    border-right: 1px solid #c5daeb;
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .advantages_block {
        width: 287px;
        border-right: none;
    }

    .advantages_block:nth-last-of-type(2) {
        border-bottom: 1px solid #c5daeb;
      }

      .advantages_block:nth-last-of-type(3) {
        border-bottom: 1px solid #c5daeb;
      }
}
