.header_box__logo {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 959px) and (min-width: 481px) {
    .header_box__logo {
        width: 177px;
        height: 105px;
        display: block;
    }
}