.services_subtitle {
    margin: 0 0 16px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

@media screen and (max-width: 1200px) and (min-width: 960px) {
    .services_subtitle {
        width: 527px;
    }
}

@media screen and (max-width: 639px) and (min-width: 480px) {
    .services_subtitle {
        width: 367px;
    }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .services_subtitle {
        width: 100%;
        font-size: 20px;
    }
}