.popup__title {
  max-width: 208px;
  font-weight: 500;
  font-size: 48px;
  line-height: 140%;
  margin: 0;
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .popup__title {
    font-size: 34px;
  }
}