.swiper__title {
  max-width: 100%;
  position: absolute;
  color: #ffffff;
  font-weight: 500;
  font-size: 60px;
  line-height: 140%;
  margin: 0 auto;
  text-align: center;
  top: 228px;
  z-index: 2;
}
