.products_block {
    width: 256px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
}

.products_block:hover:after  {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 16px;
    background: rgba(23, 121, 192,.75);
    z-index: 2;
}

.products_block:hover .products_text {
    color: #fff;
    z-index: 3;
}

.products_block:hover .products_price {
    color: #fff;
    z-index: 3;
}

.products_block:hover .products_button {
    display: block;
}

@media screen and (max-width: 1200px) and (min-width: 960px) {
    .products_block {
        width: 277px;
    }
}

@media screen and (max-width: 959px) and (min-width: 640px) {
    .products_block {
        width: 192px;
    }
}

@media screen and (max-width: 639px) and (min-width: 480px) {
    .products_block {
        width: 216px;
    }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .products_block {
        width: 287px;
    }
}