.services_background {
  height: 100%;
  width: 261px;
  position: relative;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  margin-left: 44px;
}

@media screen and (max-width: 1200px) and (min-width: 960px) {
  .services_background {
    margin-left: 32px;
  }
}

@media screen and (max-width: 959px) and (min-width: 320px) {
  .services_background {
    margin: 32px 0 0;
    width: 544px;
    justify-content: center;
  }

  .services_background-height1 {
    height: 154px;
  }

  .services_background-height2 {
    height: 146px;
  }

  .services_background-height3 {
    height: 101px;
  }

  .services_background-height4 {
    height: 267px;
  }
}

@media screen and (max-width: 639px) and (min-width: 480px) {
  .services_background {
    width: 384px;
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .services_background {
    width: 255px;
  }

  .services_background-height1 {
    height: 129px;
  }

  .services_background-height2 {
    height: 124px;
  }

  .services_background-height3 {
    height: 86px;
  }
}
